@charset "utf-8";
/* CSS Document */

.container{
	width: 1020px;
	margin:0 auto;
	background-color: hotpink;
}

header {
height: 50px;
width: 100%;
text-align: center;
background-color: purple;
	
}

.flex-container{
display: flex;
background-color: darkmagenta;
flex-direction: row;
align-items: stretch;
height: 300px;
	
	
}

.flex-container div{
background-color: yellow;
flex-grow: 4;
	
}

.flex-container .nav{
flex-grow: 1;
flex-direction: column;
width: 10%;
	
}


.flex-container .article{
width:  20%;
height: auto;
text-align: center;
	
}

footer {
height: 20px;
width: 100%;
text-align: center;
	
}

/*Responsive Layout makes a one column layout instead of a two column layout */
@media (max-width: 800px) {
	.flex-container {
	flex-direction: column;
	} }

